<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="pkj" connectionString="Data Source=10.0.0.70\mssql;Initial Catalog=metal;User ID=pkj;Password=Kochampc11"
      providerName="System.Data.SqlClient" />
    <add name="pkj.Properties.Settings.pkjConnectionString" connectionString="Data Source=srv3\mssql;Initial Catalog=metal;User ID=pkj;Password=Kochampc11"
      providerName="System.Data.SqlClient" />
    <add name="pkj.Properties.Settings.metalConnectionString" connectionString="Data Source=srv3\mssql;Initial Catalog=metal;User ID=pkj;Password=Kochampc11"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>