<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net472" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.1.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="18.4.0.49" targetFramework="net472" />
  <package id="Syncfusion.Data.WinForms" version="18.4.0.49" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="18.4.0.49" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="18.4.0.49" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.4.0.49" targetFramework="net472" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="18.4.0.49" targetFramework="net472" />
  <package id="Syncfusion.SfInput.WinForms" version="18.4.0.49" targetFramework="net472" />
  <package id="Syncfusion.SfListView.WinForms" version="18.4.0.49" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="18.4.0.49" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
</packages>